.fontPBold {
  font-family: 'Poppins-Bold' !important;
}

.fontPMedium {
  font-family: 'Poppins-Medium' !important;
}

.fontPRegular {
  font-family: 'Poppins-Regular' !important;
}

.fontPSemiBold {
  font-family: 'Poppins-SemiBold' !important;
}
