@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    font-weight: 300;
    src: url(./assets/fonts/Poppins-Light.ttf);
  }
  @font-face {
    font-family: Poppins;
    font-weight: 400;
    src: url(./assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: Poppins;
    font-weight: 500;
    src: url(./assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: Poppins;
    font-weight: 600;
    src: url(./assets/fonts/Poppins-SemiBold.ttf);
  }
  @font-face {
    font-family: Poppins;
    font-weight: 700;
    src: url(./assets/fonts/Poppins-Bold.ttf);
  }
}

body {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-thumb {
  background: #0081a7;
  border-radius: 4px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #0090bc;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb:active {
  background-color: #00afb9;
}
body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}
body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #cdcdcd;
}
